<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/admin">返回管理页</a>
<form id="role_form" method="post" action="/assignRole">
    <input id="content" style="display: none" type="text" th:value="${facultyId}" name="facultyId">
    <ul th:each="rl : ${roleList}">
        <li>
            <input type="checkbox" th:value="${rl.id}" name="roleIds">
            <a th:href="@{'/permList?roleId='+${rl.id}}">
                <b th:text="${rl.roleName}">|</b>
            </a>
        </li>
    </ul>
    <input type="submit" value="提交">
    <!--<input type="button" onclick="assignRole()" value="提交">-->
</form>
</body>
<script>
    function assignRole() {
        // var content = window.opener.document.facultyNo;
        var form = document.getElementById("role_form");
        morecheck() ;
        if(confirm("确定要分配吗？")){
            form.action="/assignRole";
            form.method = "post";
            form.submit();
        }
    }
    function morecheck() {
        var bb = "";
        var temp = "";
        var a = document.getElementsByName("role_id");
        for ( var i = 0; i < a.length; i++) {
            if (a[i].checked) {
                temp = a[i].value;
                bb = bb + "," +temp;
            }
        }
        document.getElementById("content").value = bb .substring(1, bb.length); //赋值给隐藏域
    }
</script>
</html>