<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhu.thyme_demo.mapper.RoleMapper">

    <select id="queryRole" parameterType="java.lang.String" resultType="com.zhu.thyme_demo.entity.UserRole">
        SELECT
            id,
            role_name roleName,
            role_status roleStatus,
            create_time createTime,
            update_time updateTime
        FROM
            user_role
        WHERE
            1=1
            <if test="roleName!=null">
               and role_name = #{roleName}
            </if>
    </select>

    <select id="countFacultyByRealName" parameterType="java.lang.String" resultType="java.lang.Integer">
      select count(id) from user_faculty where id = #{value}
    </select>

    <select id="lastFacultyNo"  resultType="java.lang.String">
      select faculty_no from user_faculty order by id desc limit 1;
    </select>

    <select id="countFacultyByFacultyId"  parameterType="java.lang.Integer" resultType="java.lang.Integer">
      select count(faculty_id) from faculty_role where faculty_id = #{value };
    </select>
    
    <insert id="addFacultyRoleRelation" parameterType="java.util.Map" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into faculty_role (faculty_id, role_ids) values (#{facultyId},#{roleIds})
        <selectKey resultType="int" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <update id="updateFacultyRoleRelation" parameterType="java.util.Map">
        update faculty_role set role_ids = #{roleIds} where faculty_id = #{facultyId}
    </update>

    <insert id="addRole" parameterType="com.zhu.thyme_demo.entity.UserRole" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into user_role
        ( role_name)
        values (#{roleName})
        <selectKey resultType="int" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>
</mapper>